.box{
    height: 200px;
    width: 200px;
    background-color: magenta;
    padding: 50px;
    border: 5px solid black;
    margin: 10px;
    display: inline-block;
}
.smallbox{
    height: 50%;
    width: 100%;
    background-color: darkgoldenrod;
    display: inline-block;
    padding: 100px;
    box-sizing: border-box;
}
p{
    width: 300px;
    height: 400px;
    margin-top: 40px;
    display: inline-block;
    text-align: right;
    vertical-align: bottom;
}